<html>
  <head>
    <title>StockData</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body>
      <h1>StockData</h1>
      {% if errors %}
      <ul id="errors">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form method="post">
        <input type="text" name="symbol" id="in_symbol" placeholder="Enter a stock symbol">
      </form>
      {% if stock %}
      <table id="stock-info">
        <tr>
          <td>Symbol</td>
          <td>{{ stock.symbol }}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{ stock.name }}</td>
        </tr>
        <tr>
          <td>Exchange</td>
          <td>{{ stock.exchange }}</td>
        </tr>
        <tr>
          <td>Current Price:</td>
          <td id="stck-curent-price">{{ stock.current_price }}</td>
        </tr>
        <tr>
          <td>1 Year High:</td>
          <td id="stck-1yr-high">{{ stock.year_high }}</td>
        </tr>
      </table>

      <div id="graph_wrapper"></div>

        <div id="grpah_datas">
          {% if stock.pv_history_data %}
            <div id="price_volume_history_data" data-pv_data='{{ stock.pv_history_data }}' ></div>
          {% endif %}
        </div>
      {% endif %}

      <script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
      <script src="{{ url_for('static', filename='stockdata.js') }}" ></script>
  </body>
</html>
