body {
    font-family: arial, sans-serif;
}

#graph_wrapper {
  /*padding: 40px;
  margin: 40px;*/
}

.graph {
  padding: 10px;
  margin: 10px;
  border: 1px solid #aaa;
}



#price-volume-trend-graph label {
  font-size: 11px;
  position: absolute;
  line-height: 9px;
}

#day-data-rects {
  margin-left: 45px;
  width: auto;
  min-height: 100px;
}
#day-labels {
  width: 35px;
  float: left;
  position: relative;
}
#month-labels {
  position: relative;
  height: 20px;
  margin-left: 45px;
}




#graph-legend label,
#graph-legend rect {
  position: static;
  display: inline-block;
}
